/*Importação das fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/*Declaração das variáveis para cores e fontes*/
:root {
    --primary-light-color: rgb(200, 183, 37);
    --primary-dark-color: rgb(103, 95, 6);

    --secondary-light-color: rgb(229, 224, 177);
    --secondary-dark-color: rgb(57, 56, 42);

    --primary-font-style: 'Montserrat', sans-serif;
    --secondary-font-style: 'Montserrat', swap;

}

* {
    border: solid 1px;
    margin: 0px;
    padding: 0px;
} 

@media screen and (max-width: 480px) {
    


header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
}

.logo {
    position: relative;
    display: flex;
    width: 10%;
    box-sizing: border-box;
}

img {
    position: relative;
    display: flex;
    height: 100%;
}

}